body {
    height: 100vh;
    margin: 0;
    padding: 0;
}
#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section {
    height: 100%;
}
#header {
    height: 90px;
    background-color: aqua;
}
#middle {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer {
    height: 90px;
    background-color: blueviolet;
}
#grid {
    height: 625px;
    width: 625px;
    border: 1px solid black;
    display: grid;
    padding: 0px;
    margin: 0px;
    
   
}
#gridHeader {
    height: 200px;
    width: 625px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;  
    border: 1px solid black;
}

#buttonsLeft {
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#buttonsMiddleSection {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width:100%;
    align-items: center;
    text-align: center;
}
#buttonsMiddleText {
    color: white;
    font-size: 40px;
}
#buttonsRight {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
    width: 100%;
    align-items: center;
}

.insideGrid {
    border: solid 1px black;
    margin: 0;
    Padding: 0;
    
}
